.App {
  display: flex;
}
.phase {
  background-color: aqua;
  padding: 5px;
  width: min-content;
  margin-right: 10px;
}
/* .phase.stack {
  margin-right: 0;
} */
.phase-title {
  min-height: 35px;
  margin-bottom: 10px;
}
.phase.stack .block {
  width: 90px;
}
.block {
  height: 100px;
  background-color: azure;
  margin-bottom: 10px;
  width: 100px;
  padding: 5px;
}

.block-wrapper {
  width: min-content;
}

.block-wrapper .droppable {
  height: 20px;
}
.droppable {
  display: block;
}
.App[data-hide="stack"] .stack-droppable {
  display: none;
}
.App[data-hide="phase"] .phase-droppable {
  display: none;
}